.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    position: relative;
}

.details {
    width: 28rem;
}

.details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .icon1 {
    position: absolute;
    left: 1170px;
    top: 125px;
    color: #aaa;
}

@media (min-width: 320px) and (max-width: 375px) {
    .container  .icon1{
        position: absolute;
        left: 325px;
        top: 125px;
        color: #aaa;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .container  .icon1{
        position: absolute;
        left: 330px;
        top: 125px;
        color: #aaa;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .container  .icon1{
        position: absolute;
        left: 390px;
        top: 125px;
        color: #aaa;
    }
}

@media (min-width: 768px) and (max-width: 1024px)  {
    .container  .icon1{
        position: absolute;
        left: 600px;
        top: 125px;
        color: #aaa;
    }

@media (min-width: 1024px) and (max-width: 1440px)  {
    .container  .icon1{
        position: absolute;
        left: 730px;
        top: 125px;
        color: #aaa;
    }
}
}
