.header{
    background-color: black;
    padding: 0;
    border-bottom:  1px solid green;
}

.header a{
    color: white;
}

.header a:hover{
    background: cadetblue;
    color: black;
    cursor: pointer;
    border-radius: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 1rem;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header ul a{
    padding: 1rem;
    display: inline-block;
}

.menu_container{
    position: relative;
}

nav ul a{
    margin-top: 35px;
}


.menu{
    position: absolute;
    z-index: 10000;
    background-color: cadetblue;
    display: none;
}

.menu_container:hover .menu{
    display: block;
    border-radius: 0.5rem;
}

.cart{
    margin-top: 35px;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}

.cart_count{
    background: rgb(30, 255, 30);
    color: black;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}